* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #1f7c2c;
}

header {
    background-color: #178b30;
    color: #fff;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

header .container a {
    list-style: none;
    text-align: center;
    display: flex;


}

h1{
    color: #000000;
}

h2{
    color: #000000;
}


section {
    margin-bottom: 60px;
}

.evento {
    background-color: #eefdf1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.evento h3 {
    color: #16a085;
}


.galeria {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.galeria img {
    width: 48%;
    border-radius: 8px;
}



footer {
    background-color: #0c811c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

