* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #1f7c2c;
}

header {
    background-color: #178b30;
    color: #fff;
    padding: 20px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1, h2 {
    color: #ffffff;
}

.container {
    width: 80%;
    margin: 40px auto;
}

section {
    margin-bottom: 60px;
}

.evento {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.evento h3 {
    color: #16a085;
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
}

.galeria {
    display: flex;
    gap: 20px;
}

.galeria img {
    width: 48%;
    border-radius: 8px;
}

footer {
    background-color: #0c811c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

